<ion-pane>
    <ion-content scroll="false" class="singleplayer"
                 ng-class="{'player-failed': player.failed}"
                 on-swipe-right="goBack()">
        <table>
            <tr>
                <td style="height: 40%;">
                    <div class="cell-wrapper">
                        <div class="cell-container multiplayer-container lock-inversed"
                             ng-class="{'finish-won': player.playerWon === 2, 'finish-lost': player.playerWon === 1}"
                             on-touchstart="player.touch(2, $event)" style="padding: 10px 50px;">

                            <h4>Player 2 - Crack Keys</h4>
                            <div ng-show="!player.playerWon" data-multi-player-lock></div>
                            <div class="button-ready">
                                <button ng-if="!player.playerWon && !player.activeGame && !player.isReady(2)" on-touchstart="player.setReady(2, true)" class="button button-bottom button-bottom-small">Ready?</button>
                                <button ng-if="!player.playerWon && !player.activeGame && player.isReady(2)" on-touchstart="player.setReady(2, false)" class="button button-bottom button-bottom-small button-balanced button-ready-ready">Ready!</button>
                            </div>
                            <div ng-if="player.hard" class="hearts">
                                <span ng-class="{'ion-heart-broken': player.getLives(2) < 1, 'ion-heart': player.getLives(2) >= 1}"></span>
                                <span ng-class="{'ion-heart-broken': player.getLives(2) < 2, 'ion-heart': player.getLives(2) >= 2}"></span>
                                <span ng-class="{'ion-heart-broken': player.getLives(2) < 3, 'ion-heart': player.getLives(2) >= 3}"></span>
                                <span ng-class="{'ion-heart-broken': player.getLives(2) < 4, 'ion-heart': player.getLives(2) >= 4}"></span>
                            </div>
                            <div ng-if="player.countDown" class="count-down">
                                <h4 class="">{{player.countDownNumber}}</h4>
                            </div>

                            <div class="finish-band finish-band-won" ng-if="player.playerWon === 2">
                                <h3>YOU WIN!</h3>
                                <button class="button" on-touch="player.restart()">New Round</button>
                            </div>
                            <div class="finish-band finish-band-lost" ng-if="player.playerWon === 1">
                                <h3>YOU LOSE!</h3>
                                <button class="button button-bottom button-bottom-small" on-touch="player.restart()">New Round</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td height="40px">
                        <table class="multiplayer-locks">
                            <tr>
                                <td class="dark" width="17%">
                                    <a class="icon ion-ios-arrow-left" on-touch="goBack()">Back</a></td>
                                <td>
                                    <span class="ion-key" on-touch="player.setActiveKeys(1)" ng-class="{'active':player.isKeyOpen(1)}"></span>
                                    <span class="ion-key" on-touch="player.setActiveKeys(2)" ng-class="{'active':player.isKeyOpen(2)}"></span>
                                    <span class="ion-key" on-touch="player.setActiveKeys(3)" ng-class="{'active':player.isKeyOpen(3)}"></span>
                                    <span class="ion-key" on-touch="player.setActiveKeys(4)" ng-class="{'active':player.isKeyOpen(4)}"></span>
                                    <span class="ion-key" on-touch="player.setActiveKeys(5)" ng-class="{'active':player.isKeyOpen(5)}"></span>
                                    <span class="ion-key" on-touch="player.setActiveKeys(6)" ng-class="{'active':player.isKeyOpen(6)}"></span>
                                    <span class="ion-key" on-touch="player.setActiveKeys(7)" ng-class="{'active':player.isKeyOpen(7)}"></span>
                                    <span class="ion-key" ng-class="{'active':player.isKeyOpen(8)}"></span>
                                </td>
                                <td class="dark" width="17%"></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="height: 40%;">
                    <div class="cell-wrapper">
                        <div class="cell-container multiplayer-container"
                             ng-class="{'finish-won': player.playerWon === 1, 'finish-lost': player.playerWon === 2}"
                             on-touchstart="player.touch(1, $event)" style="padding: 10px 50px;">

                            <h4>Player 1 - Lock Keys</h4>
                            <div ng-show="!player.playerWon" data-multi-player-lock></div>
                            <div class="button-ready">
                                <button ng-if="!player.playerWon && !player.activeGame && !player.isReady(1)" on-touchstart="player.setReady(1, true)" class="button button-bottom button-bottom-small">Ready?</button>
                                <button ng-if="!player.playerWon && !player.activeGame && player.isReady(1)" on-touchstart="player.setReady(1, false)" class="button button-bottom button-bottom-small button-balanced button-ready-ready">Ready!</button>
                            </div>

                            <div ng-if="player.hard" class="hearts">
                                <span ng-class="{'ion-heart-broken': player.getLives(1) < 1, 'ion-heart': player.getLives(1) >= 1}"></span>
                                <span ng-class="{'ion-heart-broken': player.getLives(1) < 2, 'ion-heart': player.getLives(1) >= 2}"></span>
                                <span ng-class="{'ion-heart-broken': player.getLives(1) < 3, 'ion-heart': player.getLives(1) >= 3}"></span>
                                <span ng-class="{'ion-heart-broken': player.getLives(1) < 4, 'ion-heart': player.getLives(1) >= 4}"></span>
                            </div>
                            <div ng-if="player.countDown" class="count-down">
                                <h4 class="">{{player.countDownNumber}}</h4>
                            </div>

                            <div class="finish-band finish-band-won" ng-if="player.playerWon === 1">
                                <h3>YOU WIN!</h3>
                                <button class="button button-bottom" on-touch="player.restart()">New Round</button>
                            </div>
                            <div class="finish-band finish-band-lost" ng-if="player.playerWon === 2">
                                <h3>YOU LOSE!</h3>
                                <button class="button button-bottom-small" on-touch="player.restart()">New Round</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </ion-content>
</ion-pane>