<ion-pane>

    <div class="bar bar-header fullscreen-header">
        <button class="button button-icon icon ion-ios-arrow-left" on-touch="goBack()">Back</button>
        <div class="h1 title"></div>
        <button ng-if="gamercenterLoggedIn" class="button button-icon" on-touch="showLeaderboard()">Leaderboard</button>
        <button ng-if="!gamercenterLoggedIn" class="button button-icon" on-touch="loginGameCenter()">Gamecenter Login</button>
    </div>

    <ion-content scroll="false" class="singleplayer"
                 on-touchstart="player.touch($event)"
                 ng-controller="SinglePlayerController as player"
                 ng-class="{'player-failed': player.failed}"
                 on-swipe-right="goBack()"
                 style="padding-top: 50px;"
            >
        <table>
            <tr><td height="50px">
                    <h3 class="header">LEVEL {{player.level}}</h3>
            </td></tr>
            <tr><td>
                <div class="cell-wrapper">
                    <div class="cell-container">
                        <div data-lock></div>
                    </div>
                </div>
            </td></tr>
            <tr><td height="151px">

                <div ng-if="player.failed">
                    <div class="level-label">
                        <h4>FAILED</h4>
                    </div>
                    <a on-touch="player.restart()" class="button button-full button-bottom">
                        Retry
                    </a>
                </div>


                <div ng-if="player.succeeded">
                    <div class="level-label">
                        <h4>LEVEL {{player.level}}</h4>
                        {{player.levelDescription}}
                    </div>

                    <a on-touch="player.restart()" class="button button-full button-bottom">
                        Next
                    </a>
                </div>

                <div ng-if="!player.active" >
                    <div class="level-label">
                        <h4>LEVEL {{player.level}}</h4>
                        {{player.levelDescription}}
                    </div>
                    <a class="button button-full button-bottom">
                        Start
                    </a>
                </div>
            </td></tr>
        </table>
    </ion-content>
</ion-pane>