<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/ionic.collide.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ion.sound.js"></script>
</head>
<body ng-app="lock-me">

<ion-pane>
    <ion-header-bar class="bar-stable">
    </ion-header-bar>
    <ion-content scroll="false" class="singleplayer" ng-controller="SinglePlayerController">
        <h3>Level {{level}}</h3>
        <button ng-touch="showLeaderboard()">Show leaderboard</button>
        <div class="lock-outline" ng-controller="LockerController">
            <div class="lock" on-touchstart="handleTouch($event)">
                <div class="lock-knob">
                    <div class="lock-knob-items" id="lock-knob-items" ng-class="{&apos;no-transition&apos;: !runs}"></div>
                </div>
                <div class="lock-counter">{{stepsNeeded}}</div>
                <div class="lock-arrow"></div>
            </div>
            <div ng-if="failed" on-touch="restart()" class="lock-failed">
                <h2>Failed!</h2>
            </div>
            <div ng-if="succeeded" on-touch="restart()" class="lock-succeeded">
                <h2>Success!</h2>
                Unlocked level {{level}}
            </div>
            <div ng-if="!active" on-touch="start()" class="lock-succeeded">
                Start!
            </div>
        </div>
    </ion-content>
</ion-pane>
</body>
</html>
