html, body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e44ad+0,9652b3+50,8e44ad+100 */
  background: #8e44ad; /* Old browsers */
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-user-select: none;
  font-family: "Aller";
}

@font-face {
  font-family: "Aller";
  src: url("../font/Aller_Bd.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aller";
  src: url("../font/Aller_Rg.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.no-padding {
  padding: 0;
  .col { padding: 0; }
}

.level-label {
  font-family: "Aller";
  font-size: 22px;
  line-height: 28px;
  color: #47e6c4;
  font-style: italic;

  padding-bottom: 25px;

  h4 {
    padding: 0;
    margin: 0;
    font-size: 42px;
    line-height: 42px;
    color: white;
    font-style: normal;
    font-weight: bold;
  }
}

.button.button-big {
  background-color: #47e6c4;
  display: block;
  width: 90%;
  margin: 15px 20px;
  padding: 15px 0;
  font-weight: bold;
  font-family: "Aller";
  font-size: 28px;
  line-height: 35px;
  color: white;
  border-radius: 15px;
}

.button.button-bottom {
  font-weight: bold;
  font-family: "Aller";
  font-size: 28px;
  color: white;
  background-color: #47e6c4;
  margin: 0;
  padding: 20px 0;
}

.pane {
  background: #8e44ad;
}

.splash {
  background-image: url(../img/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 193px;
  background-size: 193px;
  height: 100%;
  display: block;
}

.lock-outline {
  position: relative;
  background-image: url(../img/lock-outline.png);
  background-size: cover;
  max-width: (867px/2);
  height: (867px/2);
  background-position: center top;
  margin: auto;
  min-width: 285px;
}

.lock-small {
  background-position: center -50px !important;
  height: 333.5px !important;
  .lock {
    top: 42px;
  }
}

.lock-inversed {
  transform: rotate(180deg);
}

//.no-transition {
//  -webkit-transition: none !important;
//  transition: none !important;
//}

.lock {
  margin: auto;
  width: (529px/2);
  height: (528px/2);

  position: relative;
  top: 92px;

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;

  background-image: url(../img/lock-bg.png);
  background-size: cover;
}

.lock-arrow {
  width: (74px/2);
  height: (69px/2);
  position: absolute;
  top: 0;
  left: 113px;
  background-image: url(../img/lock-arrow.png);
  background-size: cover;
}

.lock-knob {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  top: 25px;
  background-image: url(../img/lock-knob-bg.png);
  background-size: cover;
}

.lock-failed {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.fullscreen-header {
  background-image: none !important;
  background: transparent !important;

  .button {
    color: white;
  }
}

.header {
  color: white;
  position: relative;
  top: 55px;
}

.player-failed {
  background-color: rgba(255, 0, 0, 0.5);
}

.lock-succeeded {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.lock-knob-items {
  width: (357px/2);
  height: (357px/2);

  position: relative;
  top: 11px;
  left: 11px;

  background-image: url(../img/lock-knob.png);
  background-size: cover;

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;

  //-webkit-transition: transform 0.2s linear;
  //-webkit-transition-timing-function: linear;
  //transition-timing-function: linear;
  //transition: transform 0.2s linear;
  //-moz-transition: transform 0.2s;
  //-ms-transition: transform 0.2s;
  //-o-transition: transform 0.2s;

  //animation-name: spin;
  //animation-duration: 4000ms;
  //animation-iteration-count: infinite;
  //animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lock-counter {
  width: (150px/2);
  height: (150px/2);

  line-height: 75px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #45cfb0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;

  position: absolute;
  top: 86px;
  left: 95px;

  background-image: url(../img/lock-counter.png);
  background-size: cover;
}