html, body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e44ad+0,9652b3+50,8e44ad+100 */
  background: #8e44ad; /* Old browsers */
  text-align: center;
  padding-top: 10px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.singleplayer .lock-outline {
  background-image: url(../img/lock-outline.png);
  background-size: cover;
  width: (867px/2);
  height: (867px/2);
  border: 1px solid black;
  margin: auto;
}

.lock {
  margin: auto;
  width: (529px/2);
  height: (528px/2);

  position: relative;
  top: 92px;

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;

  background-image: url(../img/lock-bg.png);
  background-size: cover;
}

.lock-arrow {
  width: (74px/2);
  height: (69px/2);
  position: absolute;
  top: 0;
  left: 114px;
  background-image: url(../img/lock-arrow.png);
  background-size: cover;
}

.lock-knob {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  top: 25px;
  background-image: url(../img/lock-knob-bg.png);
  background-size: cover;
}

.lock-knob-items {
  width: (357px/2);
  height: (357px/2);

  position: relative;
  top: 11px;
  left: 11px;

  background-image: url(../img/lock-knob.png);
  background-size: cover;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
    }
}


.lock-counter {
  width: (150px/2);
  height: (150px/2);

  line-height: 75px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #45cfb0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;

  position: absolute;
  top: 86px;
  left: 95px;

  background-image: url(../img/lock-counter.png);
  background-size: cover;
}