html, body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e44ad+0,9652b3+50,8e44ad+100 */
  background: #8e44ad; /* Old browsers */
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.lock-outline {
  -webkit-user-select: auto;
  position: relative;
  background-image: url(../img/lock-outline.png);
  background-size: cover;
  max-width: (867px/2);
  height: (867px/2);
  background-position: center top;
  margin: auto;
  min-width: 285px;
}

.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

.lock {
  margin: auto;
  width: (529px/2);
  height: (528px/2);

  position: relative;
  top: 92px;

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;

  background-image: url(../img/lock-bg.png);
  background-size: cover;
}

.lock-arrow {
  width: (74px/2);
  height: (69px/2);
  position: absolute;
  top: 0;
  left: 113px;
  background-image: url(../img/lock-arrow.png);
  background-size: cover;
}

.lock-knob {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  top: 25px;
  background-image: url(../img/lock-knob-bg.png);
  background-size: cover;
}

.lock-failed {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255,0,0, 0.5);
}

.lock-succeeded {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(117, 255, 123, 0.5);
}

.lock-knob-items {
  width: (357px/2);
  height: (357px/2);

  position: relative;
  top: 11px;
  left: 11px;

  background-image: url(../img/lock-knob.png);
  background-size: cover;

  -webkit-transition: transform 0.2s linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  transition: transform 0.2s linear;
  //-moz-transition: transform 0.2s;
  //-ms-transition: transform 0.2s;
  //-o-transition: transform 0.2s;

  //animation-name: spin;
  //animation-duration: 4000ms;
  //animation-iteration-count: infinite;
  //animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
    }
}


.lock-counter {
  width: (150px/2);
  height: (150px/2);

  line-height: 75px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #45cfb0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;

  position: absolute;
  top: 86px;
  left: 95px;

  background-image: url(../img/lock-counter.png);
  background-size: cover;
}